buildroot/buildroot-*/output/
buildroot/buildroot-*/dl/
buildroot/*.tar.gz

# Models
*.gguf
*.onnx
*.bin
base_external/rootfs_overlay/root/models/

base_external/piper/
temp/
temp_build/
build/

*.swp
*~
.vscode/
.idea/
*.o
*.ko
*.mod.c
*.symvers
*.order
*.tar.gz
*.zip


